<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- This is a simple HTML template to display variables passed from Flask basic.py -->
<body>
    <h1>Welcome to Flask Variable Display</h1>
    <p>Here are the variables passed from the Flask app:</p>
    
    <ul>
        <li>Variable 1: {{name}}</li>
        
    </ul>

    <p>Thank you for visiting!</p>
    
</body>